header nav a {
    background-color: var(--secondary-color);
    padding: 1em;
    border-color: var(--secondary-color);
    border-width: 0 0.3em 0.3em 0;
    border-bottom-style: solid;
    color: var(--secondary-text-color);
    font-weight: bold;
}

header nav a:hover {
    border-bottom-color: var(--tertiary-color);
}

header nav a:last-child {
    border-right: 0;
}

header section .title {
    grid-row-start: 1;
    grid-row-end: 2;
}

header section .central-links {
    grid-row-start: 2;
    grid-row-end: 3;
}

header .title {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 3em;
}

header nav {
    display: flex;
}

.title h1 {
    font-size: 3rem;
}

header {
    border-bottom: 5px;
    border-color: var(--secondary-color);
    border-style: solid;
    margin-bottom: 2.7em;
    background-color: var(--tertiary-color);
}