.create {
    margin: 5em;
    padding: 5em 1em;
    background-color: var(--tertiary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.create-article {
    width: 100%;
}

.field {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1em 0 1em 0;
}

.field>textarea {
    height: 30em;
}