/* Display */

.articles {
    margin: 0 1em 0 1em;
}

.articles * {
    color: var(--primary-text-color);
}

.articles .display {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.display__article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    width: 40vw;
    height: 70vh;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 3%;
    background-color: var(--tertiary-color);
    box-shadow: 0.4em 0.7em var(--secondary-color);
    cursor: pointer;
}

.display__article h2 {
    font-size: 1.5em;
}

.articles>div {
    width: 100%;
    text-align: center;
}

.display__article img {
    max-width: 70%;
    max-height: 70%;
    border-radius: 1em;
    text-align: center;
}

@media (max-width: 700px) {
    .articles .display{
        justify-content: center;
    }
    
    .display__article {
        width: calc(90vw - 3rem);
    }
}

/* Search */
.articles .search form {
    height: 3rem;
    display: flex;
}

.articles .search form>* {
    padding: 0 8px 0 8px;
    border-width: 0;
    background-color: var(--primary-button-color);
    font-size: 1.5em;
    box-shadow: 0.2em 0.35em var(--secondary-color);
}

.articles .search .button_find {
    width: 3rem;
    overflow-y: visible;
    border-radius: 0 var(--border-radius-2) var(--border-radius-2) 0;
}

.articles .search .button_find:hover,
.articles .search .button_find:hover i {
    background-color: var(--primary-button-color-hover);
    color: var(--secondary-text-color);
}

.articles .search .text_find {
    margin-left: auto;
    border-radius: var(--border-radius-1) 0 0 var(--border-radius-1);
}

.load-articles {
    margin: 1em;
    width: 10em;
    height: 5vh;
    overflow-y: visible;
    border-radius: 0.2em;
    border: 0;
    color: var(--primary-text-color);
    font-weight: bolder;
    font-size: 1.5em;
    box-shadow: 0.15em 0.25em var(--secondary-color);
}

.load-articles:hover {
    background-color: var(--primary-button-color-hover);
    color: var(--secondary-text-color);
}

@media (max-width: 700px) {
    .articles .search form {
        justify-content: center;
    }

    .articles .search .text_find {
        width: calc(80% - 3rem);
        margin-left: unset;
    }
}